<!doctype html>
<html lang="ko">
  <head>
  <meta charset="utf-8">
    <title>HTML</title>
    <style>
      * {
        font-size: 16px;
        font-family: Consolas, sans-serif;
      }
    </style>
  </head>
  <body>
    <form method="get" action="form-action.html">
      <p>Frontend</p>
      <label><input type="checkbox" name="frontend" value="HTML">HTML</label>
      <label><input type="checkbox" name="frontend" value="CSS">CSS</label>
            <p>Backend</p>
      <label><input type="checkbox" name="Backend" value="PYTHON">PYTHON</label>
      <label><input type="checkbox" name="Backend" value="django">django</label>
            <p>Version Control</p>
      <label><input type="checkbox" name="frontend" value="HTML">HTML</label>
      <label><input type="checkbox" name="frontend" value="CSS">CSS</label>
      <p><input type="submit" value="Submit"> <input type="reset" value="Reset"></p>
    </form>
  </body>
</html>