@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif, 'Nanum Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('https://img.pikbest.com/backgrounds/20220119/dazzling-colorful-gradient-hd-background_6243074.jpg!bw800');
  background-size: cover;
}

html, body {
  height: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
